<div class="test">
  <mat-toolbar color="primary">

    <span style="margin-left: 90px">Tiago Artém dos Santos</span>
    <span class="example-spacer"></span>

  </mat-toolbar>

  <div id="texto">Estagiário na empresa ITIX</div>


<div class="foto">
  <!--img src="../../img/eu.png" alt=""-->
</div>


<div class="links">
  <a href="https://www.linkedin.com/in/tiago-artém-b06497212/" target="_blank"><button mat-stroked-button class="link1" ></button></a>
  <a href="https://www.instagram.com/artemtiago/" target="_blank"><button mat-stroked-button class="link2"></button></a>
  <a href="https://www.twitch.tv/Guinho52" target="_blank"><button mat-stroked-button class="link3"></button></a>
</div>

<div class="buttons">

<button mat-raised-button class="botao" (click)="abrirGit()">Github</button>
<!-- <button mat-raised-button class="botao" id="portfolio">Portfólio</button> -->
<button mat-raised-button class="botao" id="enviarEmail" (click)="alternarComponente()">{{ botaoTexto }}</button>


</div>

<!-- <app-joguinho></app-joguinho> -->

<div *ngIf="componenteAtivo === 'Joguinho'">
  <app-joguinho></app-joguinho>
<button mat-raised-button class="botao" id="reiniciar" (click)="reiniciarPartida()">Reiniciar Partida</button>
</div>

<div *ngIf="componenteAtivo === 'Email'">
  <app-email></app-email>
</div>

</div>
